.product-container {
    margin: 2rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid gray;
}

.product-image {
    border: 2px solid red;
    border-radius: 15px 50px 30px;
    margin-bottom: 15px;
    text-align: center;
    height: 300px;
    width: 300px;
}

.main-button {
    background-color: goldenrod;
    width: 150px;
    height: 35px;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 3rem;
    padding: 5px;
    font-size: 15px;
}

.main-button:hover {
    background-color: black;
    color: white;
    border: 2px solid rgb(250, 57, 57);
}

.enroll-icon {
    padding-right: .5rem;
    font-size: 28px;
}